<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ORBITZ APPLICATION AUTOMATION" parallel="tests">
  <test thread-count="5" name="Test_Chrome111">
  <parameter name= "browser" value= "chrome"/>
    <classes>
      <class name="venkat.journey.tests.FlightBookingSteps"/>
    </classes>
  </test> 
  <!--  <test thread-count="5" name="Test_Mozilla222">
  <parameter name= "browser" value= "firefox"/>
    <classes>
      <class name="venkat.journey.tests.FlightBookingSteps"/>
    </classes>
  </test>  -->
</suite> 
